<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <img src="{{this.pictureUrl}}" alt="" style="width: 50%; margin-bottom: 20px;">
                    <section style="width: 45%; float: right;">
                        <p>Summary:</p>
                        <p>{{this.summary}}</p>

                        <p>Author:</p>
                        <small class="author">
                            {{this.User.fullName}}
                        </small>
                    </section>
                    




                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>
</div>
